extends juice_bar

block append content
  div(class="ju-overview-bar-small") 
    img(src="/images/overview_logo_w1.png" style="float:left") 
    div(style="padding-top:28px") #{overviewHeader}
      br  
      span(class="ju-overview-subheader") #{overviewSubHeader}



 