
label{
    width:300px;
    float:left;
    clear:both;
}
label:nth-child(odd){
    background:#dddddd;
}
input, select{
    width:400px;
    position:relative;
    float:left;
}

label, input, select{
    margin-bottom:1em;
}