<div class="challenge-underlay">
    &nbsp;asdf
</div>
<div class="challenge-modal">
    <div class="challenge-header">
        <div class="left">
        </div>
        <div class="center">
            <div class="rounds">
                <div class="rounds-label">Round</div>
                <ul>
                    <li><div class="round-label">1</div></li>
                    <li class="on"><div class="round-label">2</div></li>
                    <li><div class="round-label">3</div></li>
                    <li><div class="round-label">4</div></li>
                    <li><div class="round-label">5</div></li>
                    <li><div class="round-label">1</div></li>
                    <li class="on"><div class="round-label">2</div></li>
                    <li><div class="round-label">3</div></li>
                    <li><div class="round-label">4</div></li>
                    <li><div class="round-label">5</div></li>
                </ul>
            </div>
        </div>
        <div class="right">
        </div>
        <img src="/components/challenge/images/close.png" class="challenge-close"> 
    </div>
    <div class="challenge-body">
        body
    </div>
    <div class="challenge-footer">
        <div class="left">
            
        </div>
        <div class="right">
            
        </div>
        <div class="center">
            <div class="challenge-info"></div>
            <div class="challenge-reset"></div>
            <div class="challenge-footer-button">Show Answers</div>
            <div class="challenge-footer-button">Clear Answer</div>
        </div>
    </div>
</div>

<!--
    {{instanceType}}
<div ng-transclude></div>
-->