<div ng-controller="GameAuthoringCtrl as authoring" class="container game authoring">
  <game-editor content-controller="GameContentCtrl as content">
    <div ng-include="'/components/authoring/game/editor-header.html'"></div>

    <div class="sections">
        <div class="section">
            <div ng-include="'/components/authoring/game/common-start.html'"></div>
        </div>
        <!-- Instructions -->
        <div class="section">
        <div class="form-group">
          <h3 class="col-sm-2">Instructions</h3>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <textarea class="form-control" placeholder="Question" ng-model="content.round.question" rows="4"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <label>
              <select class="form-control select-inline"
                      ng-model="content.round.question_align"
                      ng-init="content.round.question_align = content.round.question_align ? content.round.question_align : 'center'">
                <option value="center">Center Align</option>
                <option value="left">Left Align</option>
              </select>
            </label>
          </div>
        </div>

        <br/>
        <div class="form-group">
          <div class="col-sm-12">
            <textarea class="form-control" placeholder="Solve for" ng-model="content.round.equation" rows="4"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <label>
              <select class="form-control select-inline"
                      ng-model="content.round.equation_align"
                      ng-init="content.round.equation_align = content.round.equation_align ? content.round.equation_align : 'center'">
                <option value="center">Center Align</option>
                <option value="left">Left Align</option>
              </select>
            </label>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="form-group">
          <h3 class="col-sm-2">Values</h3>

          <div class="col-sm-10 edit-btns">
            <button class="btn btn-primary" ng-click="content.add('values')"
                    ng-show="content.sections.values.editing">Add
            </button>
            <button class="btn btn-primary" ng-click="content.toggleEdit('values')">
              {{content.sections.values.editing ? 'Done' : 'Edit'}}
            </button>
          </div>
        </div>
        <div class="form-group can-delete" ng-repeat="value in content.values">
          <div class="col-sm-11">
            <input type="text" class="form-control"
                   ng-readonly="!content.sections.values.editing"
                   placeholder="Equation" ng-model="value.content"/>
          </div>
          <div class="col-sm-1">
            <button class="btn btn-danger"
                    ng-click="content.remove('values', value)"
                    ng-if="content.sections.values.editing">-
            </button>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="form-group">
          <h3 class="col-sm-2">Answers</h3>

          <div class="col-sm-10 edit-btns">
            <button class="btn btn-primary" ng-click="content.add('answerSets')">Add Answer Set
            </button>
          </div>
        </div>

        <div class="form-group" ng-repeat="answerSet in content.answer_sets">
          <div class="col-sm-12 edit-btns" style="margin-bottom: 15px;">
            <button class="btn btn-primary" ng-click="content.add('answerSets', answerSet)"
                    ng-show="content.isEditing('answerSets', answerSet)">Add
            </button>
            <button class="btn btn-primary" ng-click="content.toggleEdit('answerSets', answerSet)">
              {{content.isEditing('answerSets', answerSet) ? 'Done' : 'Edit'}}
            </button>
            <button class="btn btn-danger"
                    ng-click="content.remove('answerSets', answerSet)"
                    ng-show="content.isEditing('answerSets', answerSet)">Remove Answer Set</button>
          </div>

          <div ng-repeat="answer in answerSet.answers">
            <div class="col-sm-4">
              <select class="form-control"
                      ng-model="answer.content"
                      ng-change="answer.content"
                      ng-disabled="!content.isEditing('answerSets', answerSet)">
                <option></option>
                <option ng-value="value.content"
                        ng-selected="answer.content == value.content"
                        ng-repeat="value in content.values">{{value.content}}
                </option>
              </select>
            </div>
            <div class="col-sm-1">
              <button class="btn btn-danger"
                      ng-click="content.remove('answerSets', answerSet, answer)"
                      ng-if="content.isEditing('answerSets', answerSet)">-
              </button>
            </div>
          </div>
        </div>



        <div class="form-group can-delete" ng-show="answerSet.answers.length !== 0">
          <div ng-repeat="answer in answerSet.answers">
            <div class="col-sm-4">
              <select class="form-control"
                      ng-model="answer.content"
                      ng-change="answer.content"
                      ng-disabled="!content.isEditing('answerSets', answerSet)">
                <option></option>
                <option value="{{value.content}}"
                        ng-selected="answer.content == value.content"
                        ng-repeat="value in content.values">{{value.content}}
                </option>
              </select>
            </div>
            <div class="col-sm-1">
              <button class="btn btn-danger"
                      ng-click="content.remove('answers', answer)"
                      ng-if="content.isEditing('answerSets', answerSet)">-
              </button>
            </div>
          </div>
        </div>
        <!--<div class="form-group can-delete" ng-show="content."-->

        <!--<div class="form-group can-delete" ng-show="content.answers.length !== 0">-->
          <!--<div ng-repeat="answer in content.answers">-->
            <!--<div class="col-sm-4">-->
              <!--<select class="form-control"-->
                      <!--ng-model="answer.content"-->
                      <!--ng-change="answer.content"-->
                      <!--ng-disabled="!content.sections.answers.editing">-->
                <!--<option></option>-->
                <!--<option value="{{value.content}}"-->
                        <!--ng-selected="answer.content == value.content"-->
                        <!--ng-repeat="value in content.values">{{value.content}}-->
                <!--</option>-->
              <!--</select>-->
            <!--</div>-->
            <!--<div class="col-sm-1">-->
              <!--<button class="btn btn-danger"-->
                      <!--ng-click="content.remove('answers', answer)"-->
                      <!--ng-if="content.sections.answers.editing">--->
              <!--</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>

      <div class="section">
        <div ng-include="'/components/authoring/game/editor-general-feedback.html'"></div>

        <div class="form-group">
          <div class="col-sm-12">
            Specific Incorrect Feedback
          </div>
        </div>
        <div class="form-group can-delete" ng-repeat="feedback in content.round.feedback">
          <div class="col-sm-10">
            <div class="row" ng-if="content.sections.feedback.editing">
              <button class="btn btn-primary col-sm-3" ng-click="content.addCondition(feedback)"
                      style="margin-bottom: 10px;">Add Answer
              </button>
            </div>
            <div class="form-group">
              <div class="col-sm-4" ng-repeat="condition in feedback.conditions">
                <select class="form-control" style="width: 70%;"
                        ng-model="condition.content"
                        ng-change="condition.content"
                        ng-disabled="!content.sections.feedback.editing"> 
                  <option></option>
                  <option ng-selected="condition.content == 'incorrect'" value="incorrect">Incorrect</option>
                  <option ng-repeat="value in content.round.values" ng-selected="condition.content == value.content" value="{{value.content}}" c="{{condition.content}}">
                    {{value.content}}
                  </option>
                </select>[{{condition.content}}]
                <button class="btn btn-danger" ng-click="content.removeCondition(feedback, condition)"
                        ng-if="content.sections.feedback.editing">-
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-11">
            <textarea class="form-control"
                      rows="6"
                      ng-model="feedback.content" ng-readonly="!content.sections.feedback.editing">
              {{feedback.content}}
            </textarea>
          </div>
          <div class="col-sm-1">
            <button class="btn btn-danger"
                    ng-click="content.remove('feedback', feedback)"
                    ng-if="content.sections.feedback.editing">-
            </button>
          </div>
        </div>
      </div>
    </div>
  </game-editor>
</div>